<section id="{{ section.id }}" class="footer-wrapper{% if section.settings.section_custom_class != blank %} {{ section.settings.section_custom_class }}{% endif %}{% if section.settings.copyright_text != blank %} has-copyright{% endif %}">
  <div class="footer-inner">
    {% for block in section.blocks %}
      {% if block.type == 'menu_block' %}
        <div class="footer-menu-block">
          {% if block.settings.menu_title != blank %}
            <h2 class="footer-menu-block__title">{{ block.settings.menu_title }}</h2>
          {% endif %}
          {% if block.settings.menu_handle != blank and linklists[block.settings.menu_handle] %}
            <ul class="footer-menu-block__list">
              {% for link in linklists[block.settings.menu_handle].links %}
                <li class="footer-menu-block__item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% elsif block.type == 'newsletter_block' %}
        <div class="footer-newsletter-block">
          {% if block.settings.newsletter_title != blank %}
            <h2 class="footer-newsletter-block__title">{{ block.settings.newsletter_title }}</h2>
          {% endif %}
          <form action="/contact" method="post" class="footer-newsletter-block__form">
            <input type="email" name="contact[email]" placeholder="{{ block.settings.newsletter_placeholder }}">
            {% if block.settings.newsletter_text != blank %}
              <div class="footer-newsletter-block__text">{{ block.settings.newsletter_text }}</div>
            {% endif %}
            <button type="submit">→</button>
          </form>
        </div>
      {% elsif block.type == 'custom_menu_block' %}
        <div class="footer-custom-menu-block">
          {% if block.settings.title != blank %}
            <h2 class="footer-custom-menu-block__title">{{ block.settings.title }}</h2>
          {% endif %}
          <ul class="footer-custom-menu-block__list">
            {% for i in (1..5) %}
              {% assign text_key = "text_" | append: i %}
              {% assign link_key = "link_" | append: i %}
              {% assign svg_key = "svg_" | append: i %}
              {% assign text_item = block.settings[text_key] %}
              {% assign link_item = block.settings[link_key] %}
              {% assign svg_item = block.settings[svg_key] %}
              {% if text_item != blank and link_item != blank %}
                <li class="footer-custom-menu-block__item">
                  {% if svg_item != blank %}
                    <div class="footer-custom-menu-block__icon">
                      {{ svg_item }}
                    </div>
                  {% endif %}
                  <a href="{{ link_item }}">{{ text_item }}</a>
                </li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      {% elsif block.type == 'payment_icon_block' %}
        <div class="footer-payment-icon-block">
          {% if block.settings.title != blank %}
            <h2 class="footer-payment-icon-block__title">{{ block.settings.title }}</h2>
          {% endif %}
          <div class="footer-payment-icon-block__icons">
{% for i in (1..10) %}
  {% assign image_key = "image_" | append: i %}
  {% assign image_item = block.settings[image_key] %}
  {% if image_item != blank %}
    <div class="footer-payment-icon-block__icon">
      <img 
        loading="lazy" 
        src="{{ image_item | img_url: '600x' }}" 
        alt="" 
        style="max-width: {{ block.settings.icon_max_width }}px;">
    </div>
  {% endif %}
{% endfor %}

          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% if section.settings.copyright_text != blank %}
    <div class="footer-wrapper__copyright">
      {{ section.settings.copyright_text }}
    </div>
  {% endif %}
</section>

<style>
#{{ section.id }}.footer-wrapper {
  --{{ section.id }}-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
  --{{ section.id }}-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
  --{{ section.id }}-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
  --{{ section.id }}-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
  --{{ section.id }}-bg-color: {{ section.settings.section_bg_color }};
}
{% for block in section.blocks %}
#{{ section.id }}.footer-wrapper {
  --{{ section.id }}-block-{{ block.id }}-title-size-desktop: {{ block.settings.title_size_desktop }}px;
  --{{ section.id }}-block-{{ block.id }}-title-size-mobile: {{ block.settings.title_size_mobile }}px;
}
{% endfor %}

#{{ section.id }}.footer-wrapper {
  padding-top: var(--{{ section.id }}-padding-top-desktop);
  padding-bottom: var(--{{ section.id }}-padding-bottom-desktop);
  background: var(--{{ section.id }}-bg-color);
}

@media (max-width: 767px) {
#{{ section.id }}.footer-wrapper {
  padding-top: var(--{{ section.id }}-padding-top-mobile);
  padding-bottom: var(--{{ section.id }}-padding-bottom-mobile);
}
}

#{{ section.id }}.footer-wrapper .footer-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#{{ section.id }}.footer-wrapper.has-copyright .footer-wrapper__copyright {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#{{ section.id }}.footer-wrapper .footer-menu-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-desktop);
}
@media (max-width: 767px) {
#{{ section.id }}.footer-wrapper .footer-menu-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-mobile);
}
}

#{{ section.id }}.footer-wrapper .footer-newsletter-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-desktop);
}
@media (max-width: 767px) {
#{{ section.id }}.footer-wrapper .footer-newsletter-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-mobile);
}
}

#{{ section.id }}.footer-wrapper .footer-custom-menu-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-desktop);
}
@media (max-width: 767px) {
#{{ section.id }}.footer-wrapper .footer-custom-menu-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-mobile);
}
}

#{{ section.id }}.footer-wrapper .footer-payment-icon-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-desktop);
}
@media (max-width: 767px) {
#{{ section.id }}.footer-wrapper .footer-payment-icon-block__title {
  font-size: var(--{{ section.id }}-block-{{ block.id }}-title-size-mobile);
}
}
</style>

{% schema %}
{
  "name": "Hobby Drone Footer",
  "settings": [
    {
      "type": "text",
      "id": "section_custom_class",
      "label": "Section custom class"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Padding top desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding bottom desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding top mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding bottom mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background color"
    },
    {
      "type": "richtext",
      "id": "copyright_text",
      "label": "Copyright text"
    }
  ],
  "blocks": [
    {
      "type": "menu_block",
      "name": "Menu Block",
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title"
        },
        {
          "type": "range",
          "id": "title_size_desktop",
          "label": "Title size desktop",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 16
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "label": "Title size mobile",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 14
        },
        {
          "type": "link_list",
          "id": "menu_handle",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "newsletter_block",
      "name": "Newsletter Block",
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "Newsletter title"
        },
        {
          "type": "range",
          "id": "title_size_desktop",
          "label": "Title size desktop",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 16
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "label": "Title size mobile",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 14
        },
        {
          "type": "text",
          "id": "newsletter_placeholder",
          "label": "Placeholder"
        },
        {
          "type": "richtext",
          "id": "newsletter_text",
          "label": "Text below"
        }
      ]
    },
    {
      "type": "custom_menu_block",
      "name": "Custom Menu Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "range",
          "id": "title_size_desktop",
          "label": "Title size desktop",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 16
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "label": "Title size mobile",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 14
        },
        {
          "type": "text",
          "id": "text_1",
          "label": "Text 1"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Link 1"
        },
        {
          "type": "html",
          "id": "svg_1",
          "label": "SVG 1"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Link 2"
        },
        {
          "type": "html",
          "id": "svg_2",
          "label": "SVG 2"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Link 3"
        },
        {
          "type": "html",
          "id": "svg_3",
          "label": "SVG 3"
        },
        {
          "type": "text",
          "id": "text_4",
          "label": "Text 4"
        },
        {
          "type": "url",
          "id": "link_4",
          "label": "Link 4"
        },
        {
          "type": "html",
          "id": "svg_4",
          "label": "SVG 4"
        },
        {
          "type": "text",
          "id": "text_5",
          "label": "Text 5"
        },
        {
          "type": "url",
          "id": "link_5",
          "label": "Link 5"
        },
        {
          "type": "html",
          "id": "svg_5",
          "label": "SVG 5"
        }
      ]
    },
    {
      "type": "payment_icon_block",
      "name": "Payment Icon Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "range",
          "id": "title_size_desktop",
          "label": "Title size desktop",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 16
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "label": "Title size mobile",
          "min": 12,
          "max": 40,
          "step": 1,
          "default": 14
        },
        {
          "type": "range",
          "id": "icon_max_width",
          "label": "Max icon width",
          "min": 10,
          "max": 300,
          "step": 5,
          "default": 50
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "Image 6"
        },
        {
          "type": "image_picker",
          "id": "image_7",
          "label": "Image 7"
        },
        {
          "type": "image_picker",
          "id": "image_8",
          "label": "Image 8"
        },
        {
          "type": "image_picker",
          "id": "image_9",
          "label": "Image 9"
        },
        {
          "type": "image_picker",
          "id": "image_10",
          "label": "Image 10"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hobby Drone Footer"
    }
  ]
}
{% endschema %}
